*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container-1{
    width: 100vw;
    height: 200vw;
    background-color: aquamarine;
    text-align: center;
}
.container-2{
    width: 100vw;
    height: 200vw;
    background-color: goldenrod;
}